* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    width: 1440px;
    height: 1198px;
    background-color: #FAFBFF;
    display: flex;

}

header {
    width: 306px;
    height: 1198px;
    background-color: #FFFFFF;
    display: flex;
    align-items: start;
    padding-top: 36px;
    padding-left: 28px;
    flex-direction: column;
    gap: 40px;
}

#Logo {
    width: 195px;
    height: 39px;
}

.btn-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.btn-nav {
    width: 250px;
    height: 46px;
    border-radius: 8px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #9197B3;
    background-color: #FFFFFF;
}

.btn-nav:hover {
    color: #FFFFFF;
    background-color: #5932EA;
}

#nav-one {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main {
    width: 1134px;
    background-color: #FAFBFF;
    height: 1198px;
    padding-top: 41px;
    padding-left: 71px;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

#head-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 968px;

}

.Search {
    width: 216px;
    height: 38px;
    border: none;
    background-color: #F9FBFF;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.Search>input {
    border: none;
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-bottom: 30px;

}

#Humans {
    width: 968px;
    height: 812px;
    border-radius: 30px;
    padding: 30px 38px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;



}

.head-pp {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#select {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 154px;
    height: 38px;
    border-radius: 10px;
    background-color: #F9FBFF;
}

select {
    border: none;
    background-color: #F9FBFF;
}

.head-bb {
    display: flex;
    gap: 15px;
}

#btn-act {
    border: 2px solid green;
    background-color: rgb(107, 255, 107);
    width: 80px;
    height: 29px;
    padding: 4px 12px 4px 12px;
    gap: 10px;
    border-radius: 4px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 868px;
    height: 587px;
    border-radius: 4px;

}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 888px;
    height: 87px;
    border-bottom: 2px solid slategray;
}

td,
th {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

tfoot>tr {
    border: none;
}